/* Header.css */

#main-navbar {
  background-color: #1e1e1e !important;  /* Couleur de fond gris pour le navbar */
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-brand {
  color: #EEE !important;  /* Couleur du nom du site */
}

.nav-link {
  color: #EEE !important;  /* Couleur des liens */
}



.navbar-toggler-icon {
  background-color: #EEE; /* Icône du bouton de menu en blanc */
}

.nav-link.active {
  color: #0d6efd !important; /* Couleur pour l'élément actif */
  font-weight: bold; /* Mettre l'élément actif en gras */
}
